/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Times New Roman", Times, serif;
}
html h1,
body h1,
html h2,
body h2 {
  font-family: "Times New Roman", Times, serif;
}
html h1,
body h1 {
  font-size: 5rem;
  text-shadow: 2px 2px #A9A9A9;
}
html h2,
body h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  text-align: center;
}
html p,
body p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  text-align: center;
}
html img,
body img {
  max-width: 100%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  header .top-header {
    flex-direction: column;
    border-bottom: 2px dashed;
  }
  header .top-header h2 {
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  html,
  body {
    background: lightyellow;
  }
}
footer {
  width: 100%;
  border-top: 2px dashed grey;
  background: bisque;
}
footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 20px;
  text-shadow: 1px 1px #A9A9A9;
}
header .top-header {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  border-bottom: 2px dashed #808080;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 800px) {
  header .top-header {
    background: lightslategrey;
    display: flex;
    align-items: flex-start;
    text-align: right;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  header .top-header {
    background: #e6c468;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
  }
}
header .fruit-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header h2 {
  text-align: center;
  padding-top: 12px;
}
header p {
  text-align: center;
  margin-left: 27%;
  width: 50%;
  padding-top: 13px;
  padding-bottom: 15px;
}
nav {
  align-self: flex-end;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  nav a {
    text-align: center;
    align-items: stretch;
    justify-content: space-between;
  }
}
div .text-content {
  width: 100%;
  border-top: 2px dashed grey;
  background: #a1c2d6;
  text-shadow: 1px 1px #A9A9A9;
}
div .text-content .btn {
  margin-left: 47%;
  background-color: #f1c36d;
  color: white;
  font-size: 2rem;
  padding: 2px;
}
@media (max-width: 800px) {
  div .text-content .btn {
    display: flex;
    align-items: flex-start;
    text-align: right;
    justify-content: space-between;
    background: tan;
  }
}
div p {
  text-align: center;
  color: black;
  font-size: 1.8rem;
  padding: 20px;
  text-shadow: none;
}
@media (max-width: 800px) {
  div p {
    text-align: center;
  }
}
div .img-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 800px) {
  div .img-content {
    max-width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
