* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: "Times New Roman", Times, serif;


h1, h2{
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 5rem;
    text-shadow: 2px 2px #A9A9A9;
}

h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
    text-align: center;
}

p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-self: center;

    }
}
input[type=text] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
    resize: vertical;
    font-size: 1.6rem;
}
select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
    resize: vertical;
    
}
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
    resize: vertical;
    font-size: 1.8rem;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
    border: none;
    font-size: 1.8rem;
	cursor: pointer;
	&:hover {
		background-color: #45a049;
	}
}
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
    padding: 10px;
    font-size: 1.6rem;
}
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}
.row {
	&:after {
		content: "";
		display: table;
        clear: both;
	}
}
@media screen and (max-width: 800px) {
	.column {
		width: 100%;
        margin-top: 0;
        color: rgb(90, 156, 218);
	}
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
@media screen and (max-width: 500px) {
	.column {
		width: 100%;
        margin-top: 0;
        color: rgb(245, 183, 68);
	}
	input[type=submit] {
		width: 100%;
		margin-top: 0;
    }
}
