header{
    @media (min-width: 500px){
        .top-header{
            flex-direction: column;
            border-bottom: 2px dashed @navigation-border;
            h2{
                margin-top: 10px;
            }
        }
    }
}
